@import "_variables.scss";
.movie__item {
  width: clamp(175px, 23%, 322px);

  min-width: 250px;
  margin-right: 1em;
  b,
  i {
    font-size: clamp(0.8rem, 1.2vw, 1.4rem);
  }

  i {
    margin: 0 0.2em;
  }

  b {
    margin-left: 1.2em;
    display: inline;
  }

  h3 {
    margin: 1em 0;
    text-transform: capitalize;
  }
}

@media screen and (min-width: $small_breakpoint) {
  .movie__item {
    display: block;
  }
}
