@import "_variables.scss";
.movie__item {
  width: clamp(175px, 23%, 322px);

  min-width: 250px;
  margin-right: 1em;

  &__image__wrapper {
    border: 3px solid $font-color;
    margin-bottom: 1em;
  }

  &__heart {
    display: inline;
    float: right;
    // margin: 0.6em 0;
    cursor: pointer;
    font-size: 1.3em;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    // margin: 4em 0;
    display: inline;
    text-transform: capitalize;
    // width: 50%;
  }
}

@media screen and (min-width: $small_breakpoint) {
  .movie__item {
    display: block;
  }
}
