@import "_variables.scss";

$logo-size: clamp(1.9rem, 2.1vw, 2.2rem);
$text-size: clamp(1.25rem, 1.9vw, 1.7rem);

.navbar {
  width: 100%;
  display: grid;
  padding: 2em 2em 0 2em;
  grid-template-columns: repeat(12, 1fr);
  color: $color_secondary;
}

.hamburger {
  display: block;
  color: $color_secondary;
  font-size: $logo-size;
  grid-column: 12/13;
  transition: all 0.5s;

  // height: 1.2rem;
  // z-index: ;
  &__content {
    width: 60%;
    height: 100vh;

    background-color: #664a39;

    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.5s;
  }
}

.hamburger_open {
  @extend .hamburger;
  transition: all 0.5s;

  // font-size: 4rem;

  transform: translate(-60vw);
}

.hamburger__content_open {
  @extend .hamburger__content;
  transition: all 0.5s;
  transform: translate(0);
}

.hamburger:hover,
.hamburger:focus {
  color: $color_accent;
}

.logo {
  grid-column: 1 / span 9;
  align-self: center;
  font-size: $logo-size;
  transition: all 0.5s;

  &__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: $text-size;
    align-self: center;
    margin-left: 0.5em;
    color: white;
    display: inline;
    font-weight: 400;
    transition: all 0.5s;

    &_open {
      @extend .logo__text;
      transition: all 0.5s;
      transform: translateX(-20px);
      opacity: 0;
    }
  }
}

.basket,
.profile_icon {
  padding: 0;
  margin: 0;
  display: none;
  font-size: $logo-size;
  align-self: center;
}

.basket {
  grid-column: 11/12;
}

.profile_icon {
  grid-column: 12/13;
}

@media screen and (min-width: $small_breakpoint) {
  .basket,
  .profile_icon {
    display: inline;
    justify-self: end;
  }

  .hamburger {
    display: none;
  }
  .hamburger__content {
    display: none;
  }
}
